@media (max-width:  740px)
    body
        display: block
        padding: 15px
    .container
        width: 100%
        display: block
        min-height: 809px
        border-radius: 0px
    .result
        grid-area: none
        width: 100%
        min-height: 356px
        padding: 24px 57px 45px 58px
        border-top-left-radius: 0
        border-top-right-radius: 0
        grid-template-rows: 21px 26px 140px 24px 28px 11px minmax(37px, auto)
        &__title
            font-size: 18px
            line-height: 18px
        &__circle
            width: 140px
            height: 140px
            row-gap: 0px
        &__circle-score
                &-real
                    font-size: 56px
                    line-height: 80px
                &-max
                    font-size: 16px
                    line-height: 10px
        &__descr-title
            font-size: 24px
        &__descr-text
            font-size: 16px
            line-height: 16px
    .summary
        grid-area: none
        width: 100%
        min-height: calc(100vh - 356px)
        padding: 24px 30px 30px 30px
        grid-template-rows: 21px minmax(26px, auto) 272px minmax(24px, auto) 56px
        &__title
            font-size: 18px
        &__bar
            width: 100%
            img
                width: 16px
                height: 16px
        &__item
            font-size: 16px
        &__score
            font-size: 16px
        &__button
            width: 100%
