.result 
    width: 368px
    min-height: 512px
    border-radius: 32px
    background-image: linear-gradient(180deg, #7755ff 0%, #6943ff 0%, #2f2ce9 100%)
    padding: 39px 54px 64px 54px

    &__title
        color: $transparent
        font-size: 24px
        font-weight: 700
        text-align: center
    &__circle
        margin: 0 auto
        margin-top: 38px
        padding-top: 10px
        width: 200px
        height: 200px
        background-image: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%)
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        span
            opacity: 0.52
            color: $transparent
            font-size: 18px
            font-weight: 700
            text-align: left
            line-height: 0px
    &__circle-score
        color: #ffffff
        font-size: 72px
        font-weight: 700
        line-height: 30px
        text-align: center
    &__descr
        margin-top: 28px
    &__descr-title
        color: #ffffff
        font-size: 32px
        font-weight: 700
        text-align: center
    &__descr-text
        margin-top: 18px
        color: $transparent
        font-size: 18px
        font-weight: 500
        text-align: center
    

        
    